<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.firesun.wechat.enhancement">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2"/>

        <activity
            android:name="me.firesun.wechat.enhancement.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="me.firesun.wechat.enhancement.SettingsActivity_Alias"
            android:label="@string/app_name"
            android:targetActivity="me.firesun.wechat.enhancement.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <receiver android:name=".util.ConfigReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="wechat.intent.action.SAVE_WECHAT_ENHANCEMENT_CONFIG" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
